// Define variables for consistency and easy maintenance
$primary-font: Arial, sans-serif;
$primary-color: #444;
$background-color: #000;
$container-background: #eee;
$container-max-width: 1200px;
$container-max-height: 100vh;
$header-padding: 3rem 1.5rem 1.5rem 1.5rem;
$section-margin-bottom: 20px;
$media-breakpoint: 1160px;
$media-breakpoint-small: 800px;
$list-bullet: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTYnIGhlaWdodD0nMTYnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+DQogICAgPGNpcmNsZSBjeD0nOCcgY3k9JzgnIHI9JzgnIGZpbGw9J2N1cnJlbnRDb2xvcicgLz4NCjwvc3ZnPg==');
$sidebar-width: 25rem;
$profile-image-width: 15rem;
//box shadow mixin
@mixin box-shadow() {
  // border: 0.25rem solid #fff;
  outline: 0.25rem solid #fff;
  outline-offset: -0.25rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 0.5rem 0.1rem rgba(34, 34, 34, 0.5);
  -moz-box-shadow: 0 0 0.5rem 0.1rem rgba(34, 34, 34, 0.5);
  box-shadow: 0 0 0.5rem 0.1rem rgba(34, 34, 34, 0.5);
}

:root {
  font-family: $primary-font;
  color: $primary-color;
}

body {
  background-color: $background-color;
}
//broad styling
h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  white-space: nowrap;
  > span {
    font-weight: 600;
    display: block;
  }
}
h2 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  text-transform: capitalize;
}
h3 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}
p {
  margin-bottom: 0.5rem;
}
section {
  padding: 1rem;
}
a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
.header {
  margin: 3rem 0 1.5rem 0;
}
//positioning
#container {
  background-color: $container-background;
  margin: 0 auto;
  display: grid;
  max-width: $container-max-width;
  grid-template-columns: $sidebar-width 1fr min-content; /* Adjust the number of columns and their sizes as needed */
  grid-template-rows: calc(min-content + 3rem) auto; /* Adjust the number of rows and their sizes as needed */
  grid-template-areas:
    'pic title contact'
    'profile experience experience'
    'traits experience experience'
    'skills experience experience'
    'education experience experience'
    'footer references references';
}
#profile-pic {
  grid-area: pic;
}
#title {
  grid-area: title;
}
#profile {
  grid-area: profile;
}
#contact {
  grid-area: contact;
}
#experience {
  grid-area: experience;
}
#education {
  grid-area: education;
}
#footer {
  grid-area: footer;
}
#traits {
  grid-area: traits;
}
#skills {
  grid-area: skills;
}
#references {
  grid-area: references;
}

// styling
#profile-pic {
  > img {
    // margin: 0 calc((($sidebar-width - $profile-image-width) / 2));
    width: $profile-image-width;
    margin: 0 calc((($sidebar-width - $profile-image-width) / 2) - 1rem);
    // margin: 0;
    aspect-ratio: 1/1;
    object-position: center;
    @include box-shadow();
  }
}
#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  &:last-of-type {
    .icon {
      margin: 0;
      margin-left: 0.5rem;
    }
    width: unset;
    > div {
      margin-top: auto;
    }
  }
  > * {
    margin-bottom: 0.5rem;
  }
  h2 {
    display: inline-block;
    padding: 0.25rem 1rem;
    background-color: $primary-color;
    color: #eee;
  }
}
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  text-align: end;
  margin-left: auto;
  width: unset;
  .icon {
    margin: 0;
    margin-left: 0.5rem;
  }
  a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
#profile {
  background-color: white;
}
#skills,
#traits {
  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      font-size: 0.75rem;
      position: relative;
      margin: 0.25rem;
      background-color: $primary-color;
      color: #eee;
      padding: 0.5rem;
    }
  }
}
#experience {
  h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  h4 {
    font-size: 1rem;
    font-weight: 600;
  }
  .dates {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  ul {
    li {
      &:not(:last-of-type) {
        border-left: 1px solid $primary-color;
      }
      margin: 0 !important;
      padding: 1rem;
      padding-top: 0;
      position: relative;
      padding-left: 1rem;
      margin-bottom: 1rem;
      svg {
        position: absolute;
        left: -0.25rem;
        top: 0.25rem;
        height: 0.5rem;
        width: 0.5rem;
        outline: 0.25rem solid white;
        border-radius: 50%;
      }
      &:before {
        // content: '';
        // position: absolute;
        // left: -0.5rem;
        // width: 1rem;
        // height: 1rem;
        // border-radius: 50%;
        // background-color: $primary-color;
        // border: 0.25rem solid white;
      }
    }
  }
  background-color: white;
}
#references {
  background-color: white;
  ul {
    display: flex;
    flex-direction: row;
    li {
      border-left: 1px solid $primary-color;
      margin: 0 !important;
      padding: 1rem;
      padding-top: 0;
      position: relative;
      padding-left: 1rem;
      margin-bottom: 1rem;
      svg {
        position: absolute;
        left: -0.25rem;
        top: 0.25rem;
        height: 0.5rem;
        width: 0.5rem;
        outline: 0.25rem solid white;
        border-radius: 50%;
      }
      &:before {
        // content: '';
        // position: absolute;
        // left: -0.5rem;
        // width: 1rem;
        // height: 1rem;
        // border-radius: 50%;
        // background-color: $primary-color;
        // border: 0.25rem solid white;
      }
    }
  }
}

//container media queries
@media (max-width: $media-breakpoint) {
  :root {
    // font-size: 12px;
  }
  #container {
    grid-template-columns: 1fr; /* Adjust the number of columns and their sizes as needed */
    grid-template-rows: calc(min-content + 3rem) auto; /* Adjust the number of rows and their sizes as needed */
    grid-template-areas:
      'pic'
      'title'
      'contact'
      'profile'
      'traits'
      'skills'
      'experience'
      'education'
      'references'
      'footer';
  }
  .header {
    margin: unset;
  }
  #profile-pic {
    margin: 0 auto;
  }
  #title {
    align-items: center;
    text-align: center;
    &:last-of-type {
      .icon {
        margin: 0;
        margin-left: 0.5rem;
      }
      width: unset;
      > div {
        margin-top: auto;
      }
    }
    > * {
      margin-bottom: 0.5rem;
    }
    h2 {
      display: inline-block;
      padding: 0.25rem 1rem;
      background-color: $primary-color;
      color: #eee;
    }
  }
  #contact {
    align-items: unset;
    text-align: center;
    margin-left: unset;
    flex-grow: 1;
    a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      li {
        margin: 0.25rem;
        // style as button
        &:not(:first-of-type) {
          ::before {
            content: '|';
            margin-right: 0.5rem;
          }
          // margin-right: 0.5rem;
        }
      }
    }
  }
  #profile {
    background-color: white;
  }
  #skills,
  #traits {
    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        font-size: 0.75rem;
        position: relative;
        margin: 0.25rem;
        background-color: $primary-color;
        color: #eee;
        padding: 0.5rem;
      }
    }
  }
  #experience {
    h3 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }

    h4 {
      font-size: 1rem;
      font-weight: 600;
    }
    .dates {
      font-size: 0.9rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    ul {
      li {
        &:not(:last-of-type) {
          border-left: 1px solid $primary-color;
        }
        margin: 0 !important;
        padding: 1rem;
        padding-top: 0;
        position: relative;
        padding-left: 1rem;
        margin-bottom: 1rem;
        &:before {
          content: '';
          position: absolute;
          left: -0.5rem;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          background-color: $primary-color;
          border: 0.25rem solid white;
        }
      }
    }
    background-color: white;
  }
}
//reduce font size for small screens
@media (max-width: $media-breakpoint-small) {
  :root {
    font-size: 12px;
  }
}
.chat-popup {
  position: fixed;
  //center on screen
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  max-height: 500px;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 8px;
  overflow: hidden;
  em {
    font-weight: 600;
  }
  #messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f8f8f8;

    p {
      margin: 5px 0;
      line-height: 1.4;
      text-align: left;
    }
  }
  .chat-input {
    display: flex;
    border-top: 1px solid #ccc;

    input {
      flex-grow: 1;
      border: none;
      padding: 10px;
      &:focus {
        outline: none;
      }
    }
  }
  & *:not(:last-child) {
    margin-bottom: 0.25rem;
  }
  #user-data {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    // align-items: center;
    input {
      // width: 100%;
      margin-bottom: 0.5rem;
    }
    button {
      width: 100%;
    }
  }
}

@media print {
  body {
    background-color: unset;
  }
  .chat-popup {
    display: none;
  }
  #container {
    background-color: $container-background;
    margin: 0 auto;
    display: grid;
    max-width: $container-max-width;
    grid-template-columns: $sidebar-width 1fr min-content; /* Adjust the number of columns and their sizes as needed */
    grid-template-rows: calc(min-content + 3rem) auto; /* Adjust the number of rows and their sizes as needed */
    grid-template-areas:
      'pic title contact'
      'profile experience experience'
      'traits experience experience'
      'skills experience experience'
      'education experience experience'
      'footer references references';
  }
  section {
  }
  button {
    display: none;
  }
  #contact {
    align-items: end;
    text-align: end;
    margin-left: auto;
    flex-grow: 1;
    a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    > * {
      margin-bottom: 0.25rem;
    }
    ul {
      display: flex;
      justify-content: end;
      flex-wrap: wrap;
      li {
        margin: 0.25rem;
        // style as button
        &:not(:first-of-type) {
          ::before {
            content: '';
            margin-right: 0.5rem;
          }
          // margin-right: 0.5rem;
        }
      }
    }
  }
  .header {
    margin: unset;
  }
  #title {
    align-items: start;
    text-align: start;
  }
  #skills,
  #traits {
    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        font-size: 0.75rem;
        position: relative;
        margin: 0.25rem;
        background: none;
        outline: 1px solid $primary-color;
        color: $primary-color;
        padding: 0.5rem;
      }
    }
  }
}
